*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

h1{
    text-align: center;
    size: 30px;
    font-weight: bold;
}

.menu{
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.menu ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.parrafo{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 10px 10 px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.grid{
    background-color: rgba(222, 184, 135, 0.233);
    display: grid;
    width: 80%;
    grid-template-columns: 2fr 2fr;
    justify-content:center;
    grid-template-rows: auto;
}

.caja{
    
    border: 3px solid black;
    background-color: blanchedalmond;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    column-gap: 10px;
    width: 150px;
    height: 150px;
}


